parameters:
    level: max

    paths:
        - app
        - tests
        - database
        - config
        - routes
        - public
        - bootstrap
        - lang

    strictRules:
        strictCalls: false

includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - .phpstan/phpstan-baseline.php
