parameters:
    level: max

    paths:
        - app
        - tests
        - database
        - config
        - public
        - bootstrap

includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
